.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.intro__text {
  margin-bottom: 15px;
}

.intro__list {
  list-style-position: inside;
}

.intro__item {
  margin-bottom: 10px;
}

.intro__start-btn {
  padding: 8px 16px;
  background-color: #9e5050;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  align-self: center;
  cursor: pointer;
}